.mypage-search {
  padding: 0 16px 16px 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__tags {
    overflow-x: scroll;
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  &__tag {
    display: inline-block;
    border-radius: 3px;
    font-size: 11px;
    color: var(--gray);
    border: 1px solid var(--dark-purple);
    padding: 6px 8px;
    margin: 4px;
  }
  &__movie-list {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
