.rating-modal {
  &__header {
    padding: 10px 0;
  }
  &__question {
    opacity: 0.6;
    font-size: 14px;
  }
  &__movie-title {
    opacity: 0.87;
    font-size: var(--normal-font);
  }
  &__rating {
    margin: 10px 0;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
  }
  &__cancle-button,
  &__submit-button,
  &__submit-button--disable {
    background-color: var(--gray-darkest);
    color: white;
    opacity: 0.87;
    font-size: 14px;
    padding: 0 6px;
  }
  &__submit-button--disable {
    opacity: 0.38;
  }
}
