.search {
  padding: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  &__tags {
    overflow-x: scroll;
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 10px;
    text-align: start;
  }
  &__tag {
    display: inline-block;
    border-radius: 3px;
    font-size: 11px;
    color: var(--gray);
    border: 1px solid var(--dark-purple);
    padding: 6px 8px;
    margin: 4px;
  }
  &__movie-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 180px);
  }
  &__nothing {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
