.set-nickname {
  margin: auto;
  font-family: Play;
  &__text {
    margin: 20px;
  }
  &__form-nickname {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  &__input {
    width: 80vw;
  }
}
