:root {
  --background-black: #000000;
  --main-purple: #a662ea;
  --dark-purple: #8249bb;

  --strong-opacity: 0.38;
  --middle-opacity: 0.6;
  --weak-opacity: 0.87;

  --big-font: 22px;
  --normal-font: 16px;
  --small-font: 12px;
}
