:root {
  --background-black: #000000;
  --gray-darkest: #292929;
  --main-purple: #a662ea;
  --dark-purple: #703ea2;
  --yellow: #eab462;
  --gray: #c4c4c4;

  --strong-opacity: 0.38;
  --middle-opacity: 0.6;
  --weak-opacity: 0.87;

  --big-font: 22px;
  --normal-font: 16px;
  --small-font: 12px;
}
